* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Header */

header {
    position: fixed;
    width: 100%;
    background: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
}


/* nav */

nav {
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0 30px;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

nav ul li a.active {
    color: #0000FF;
    transition: .5s;
}


/* moon and sun */

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options .fa.fa-moon-o,
.options .fa.fa-sun-o {
    position: absolute;
    right: 100px;
    cursor: pointer;
}

.options .fa.fa-moon-o:hover,
.options .fa.fa-sun-o:hover {
    animation: rotate .5s forwards;
    animation-duration: .5s;
}

.options .fa.fa-sign-in {
    display: none;
}

button {
    position: absolute;
    border: none;
    outline: none;
    color: #0000FF;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    font-size: 13px;
    cursor: pointer;
    right: 10px;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    color: #8e8ef5;
    transition: .5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0);
    }
}

.icon {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.icon a .fa.fa-angle-double-down,
.icon a .fa.fa-angle-double-up {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.7);
}

.icon a .fa.fa-angle-double-down:hover,
.icon a .fa.fa-angle-double-up:hover {
    font-size: 25px;
}


/* section and footer */

section,
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 100px;
    background-color: #dfdfdf;
    color: rgba(0, 0, 0, 0.05);
}

footer {
    background: linear-gradient(to bottom, #cac7c7, #acacac);
    min-height: 70vh;
}

@media (max-width: 800px) {
    nav ul li {
        padding: 0 10px;
    }
    button {
        display: none;
    }
    .options .fa.fa-sign-in {
        font-size: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        right: 20px;
        color: #6060ee;
        cursor: pointer;
    }
    .options .fa.fa-moon-o,
    .options .fa.fa-sun-o {
        position: absolute;
        right: 65px;
    }
    .options .fa.fa-sign-in:hover {
        font-size: 22px;
    }
}


/* darkLight Mode */

body.darkLight header {
    background-color: #858585;
}

body.darkLight header h1 {
    color: #ececec;
}

body.darkLight header nav ul li a {
    position: relative;
    color: #ececec;
}

body.darkLight header nav ul li a.active {
    color: rgba(0, 0, 0, 0.7);
}

body.darkLight header .options .fa.fa-sun-o {
    color: #ffff;
}

body.darkLight header .options .fa.fa-sign-in {
    color: #ececec;
}

body.darkLight header .options button {
    background: #858585;
    color: #ececec;
}

body.darkLight header .options button:hover {
    color: rgba(0, 0, 0, 0.7);
}

body.darkLight section {
    background: rgba(0, 0, 0, 0.7);
}

body.darkLight .icon a .fa.fa-angle-double-down,
body.darkLight .icon a .fa.fa-angle-double-up {
    color: #ececec;
}

body.darkLight footer {
    background: #535252;
}

body.darkLight header .toggle::after,
body.darkLight header .toggle::before {
    background-color: #ececec;
}

body.darkLight header .toggle::before {
    box-shadow: 0 6px #ececec;
}

@media (max-width:600px) {
    header h1,
    header.options,
    header .toggle {
        z-index: 10000;
    }
    nav {
        width: 0%;
        position: absolute;
        display: flex;
        left: 0;
        justify-content: center;
        align-items: center;
        transform: translateY(300px);
        background: #ececec;
        height: 94vh;
        overflow: hidden;
        transition: .5s;
    }
    nav.show {
        width: 100%;
    }
    nav ul {
        display: inline-block;
        text-align: center;
        line-height: 50px;
    }
    nav ul li a {
        font-size: 17px;
    }
    #toggle {
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #toggle::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 1px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 6px rgba(0, 0, 0, 0.7);
        transform: translateY(-6px);
        transition: .5s;
    }
    #toggle::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 1px;
        background: rgba(0, 0, 0, 0.7);
        transform: translateY(6px);
        transition: .5s;
    }
    #toggle.active::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 1px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: none;
        transform: rotate(225deg);
        transition: .5s;
    }
    #toggle.active::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 1px;
        background: rgba(0, 0, 0, 0.7);
        transform: rotate(135deg);
        transition: .5s;
    }
    .options .fa.fa-moon-o,
    .options .fa.fa-sun-o {
        position: absolute;
        right: 95px;
    }
    .options .fa.fa-sign-in {
        right: 60px;
    }
    body.darkLight nav {
        background-color: #858585;
    }
}
